<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysj.dao.IThreadsMapper">
    <resultMap id="threadMap" type="threads">
        <id property="id" column="fid"/>
        <result property="centext" column="centext"/>
        <result property="topicId" column="topicId"/>
        <result property="userId" column="userId"/>
        <result property="userName" column="userName"/>
        <result property="createTime" column="addtime"/>
    </resultMap>
    
    <select id="getList" resultMap="threadMap">
        select
            thread.*,
            user.username as userName
        from
            t_user user
            right join
            t_threads thread on user.id=thread.user_id
        where thread.topic_id=#{id};
    </select>

    <insert id="insertThreads">
        insert into t_threads(topic_id,user_id,context,addtime) values (#{topicId},#{userId},#{centext},now())
    </insert>
    
    <delete id="deleteThreads">
        delete * from t_threads where id=#{id}
    </delete>

</mapper>